---
---


$header-heading-color: #fff;
$header-bg-color: #159957;
$header-bg-color-secondary: #155799;



@import "{{ site.theme }}";



.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/Espectrofotometro/3_Fotor.jpg");
}
